@model IEnumerable<Models.Animal>

@{
    ViewBag.Title = "Index";
}

<h2>Animals Attack!</h2>
<table>
<thead><tr><th>Name</th><th>Location</th><th>Image</th><th>Actions</th></tr></thead>
<tbody>
@foreach (var animal in Model)
{ 
    <tr>
        <td>@animal.Name</td>
        <td>
            @if (animal.Habitat != null)
            {
                foreach (var ahabitat in animal.Habitat)
                {
                    <p>@ahabitat</p>
                }
            }        
        </td>
        <td>@Html.Raw(animal.ImageAddress)</td>
        <td>@Html.ActionLink("Edit", "Edit", new { animal.Name })</td>
    </tr>
}
</tbody>
</table>