@model List<Web.Models.UserAndRoles>


@{
    ViewBag.Title = "User List";
}

<h2>User List</h2>
<table>
    <thead>
    <tr>
        <th>Username</th><th>Email</th><th>Roles</th>
    </tr>
    </thead>
    <tbody>
@foreach (var user in Model)
{ 
    <tr>
        <td>@user.Username</td>
        <td>@user.Email</td>
        <td>
            @(user.Roles.Count > 0 ? user.Roles.Aggregate((current, next) => current + ", " + next) : "Got Nothin.")
            @*@foreach (var role in user.Roles)
            {
                role;
            }*@
        </td>
    </tr>
}
    </tbody>
</table>
</ul>