@{
    ViewBag.Title = "Index";
}
<link href='http://fonts.googleapis.com/css?family=Alegreya+SC' rel='stylesheet' type='text/css'>

<h2 style="font-family: 'Alegreya SC', serif;">Animals Attack!</h2>
<p>Ever had this happen to you? </br>

<a href="http://www.flickr.com/photos/ellenm1/4612693241/" title="9. Mr. Swan landed some nips by ellenm1, on Flickr"><img src="http://farm5.staticflickr.com/4024/4612693241_e1ab6105b8.jpg" width="500" height="375" alt="9. Mr. Swan landed some nips"></a>
</p>

<p>
You're in luck, cause we want to help you get away from those animals on the attack!
</p>