@{
    ViewBag.Title = "Index";
}

<h2>Hungry?</h2>

<div>
    Your mobile browser is! So is this guy <br />
    <a href="http://www.flickr.com/photos/ellenm1/4612693241/" title="9. Mr. Swan landed some nips by ellenm1, on Flickr"><img src="http://farm5.staticflickr.com/4024/4612693241_e1ab6105b8.jpg" width="500" height="375" alt="9. Mr. Swan landed some nips"></a>
</div>