@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
    <h3>
        @if (ViewBag.ErrorMessage != null){
            @ViewBag.ErrorMessage;
        }
    </h3>
</body>
</html>